################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DirectoryExtracted_v2.1/obj/Debug
/DirectoryExtracted_v2.1/bin/Debug
