################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DirectoryExtracted_v2.1/obj/Debug
/DirectoryExtracted_v2.1/bin/Debug
/.vs/DirectoryExtracted_v2.1/v14/.suo
/DirectoryExtracted_v2.1/bin/Release
/DirectoryExtracted_v2.1/obj/Release
